<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamin.android.demo">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".JaminApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.anim.LauncherAnimationActivity" />

        <activity android:name=".ui.anim.CircleFlyActivity" />

        <activity android:name=".ui.anim.VerticalFlyBackActivity" />

        <activity android:name=".ui.anim.LikeActivity" />

        <activity android:name=".ui.image.LauncherImageActivity" />

        <activity android:name=".ui.image.iconfont.IconFontGridActivity" />

        <activity android:name=".ui.image.filter.FilterActivity" />

        <activity android:name=".ui.rxjava.ActivityHistoryOnToday" />

        <activity android:name="com.jamin.framework.deeplink.FrameworkDeepLinkActivity" />
        <activity
            android:name=".deeplink.DeepLinkActivity"
            android:theme="@android:style/Theme.NoDisplay">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="jamin" />

                <data android:scheme="http" />

            </intent-filter>
        </activity>

        <service
            android:name=".remote.JaminService"
            android:exported="false"
            android:process=":Remote" />

        <activity android:name=".ui.rxjava.ActivityHistoryDetail"></activity>
    </application>

</manifest>