<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jamin.android.demo">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".JaminApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity-->
        <!--android:name=".MainActivity"-->
        <!--android:label="@string/app_name"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.MAIN" />-->

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
        <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".ui.LaunchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.anim.LauncherAnimationActivity" />

        <activity android:name=".ui.anim.CircleFlyActivity" />

        <activity android:name=".ui.anim.VerticalFlyBackActivity" />

        <activity android:name=".ui.image.LauncherImageActivity" />

        <activity android:name=".ui.image.FilterActivity" />

        <activity android:name=".ui.rxjava.ActivityHistoryOnToday" />
    </application>

</manifest>
